@import "../../responsive.scss";

.nav {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;

  .logo {
    @include md {
      display: none;
    }

    @include sm {
      display: initial;
    }
  }

  .links {
    display: flex;
    align-items: center;
    gap: 40px;

    .nav-link {
      font-size: 16px;
      line-height: 26px;

      @include md {
        font-size: 14px;
        line-height: 24px;
      }
    }

    .activeLink {
      font-weight: 600;
      line-height: 32px;
      color: #123763;
    }

    @include sm {
      display: none;
    }
  }

  .register {
    padding: 12px 32px;
    border-radius: 8px;
    background: #00a6fb;

    @include md {
      padding: 8px 32px;
    }

    @include sm {
      display: none;
    }
  }
}
